<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>魔法人偶-免费的交互式绘画3D人体模型</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- source：5118-关键词—— -->
    <meta name="keywords" content="画画，procreate绘画，素描，速写，临摹，人体模型，人体素材，人体结构">
    <!-- source：5118-下拉词—— -->
    <meta name="description" content="本站是一款3D人体模型软件，提供人体动态绘画素材参考、速写人物临摹图，辅助素描入门等，交互式、可任意调整姿势">
    <meta name="baidu-site-verification" content="code-5W8pPrtpKA" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/tooltip.css">
    <link rel="shortcut icon" href="imgs/favicon/logo.png" type="image/x-icon">
    <!--		<script src="js/libs/three.js"></script>-->
    <script src="js/libs/three.min.js"></script>
    <!--		<script src="js/libs/three.min2.js"></script>-->

    <script src="js/libs/OrbitControls.min.js"></script>

    <script src="js/libs/OBJLoader.js"></script>
    <script src="js/libs/STLLoader.js"></script>
    <script src="js/baseLoaderScene.js"></script>
    <script src="js/mannequin.js"></script>
    <script src="js/libs/stats.min.js"></script>
    <script src="js/libs/dat.gui.min.js"></script>

    <!--		<script src="js/libs/TrackballControls.js"></script>-->
    <!--		<script src="js/libs/DragControls.js"></script>-->
    <!--		<script src="js/libs/TransformControls.js"></script>-->


    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id: "JkzqMDwdANzluWnR",ck: "JkzqMDwdANzluWnR"})</script>
</head>




<!--    <body th:replace="common/base :: mybody">-->
<body th:replace="../static/base :: mybody">

</body>

<!--		js的引入顺序不要乱动！有先后关系要求的，会出问题：-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.lazy.min.js"></script>
<script src="js/jquery.hotkeys.js"></script>
<script src="js/bluebird.js"></script>
<script src="js/html2canvas.min.js"></script>
<script src="js/addAndRemoveProp.js"></script>
<script src="js/customModelReplace.js"></script>
<script src="js/posture-editor.js"></script>
<script src="js/js.js"></script>


<script src="js/tooltip.js"></script>
<script src="js/screenshot.js"></script>
<script src="js/moveprops.js"></script>
<script src="js/scaleprops.js"></script>




<script type="text/javascript">

    $(document).ready(function(){
        $('#chairs').tooltip({text: '搭配"坐姿"使用效果最佳',fontSize: '14px',
            theme: 'light',
            fontFamily: "'Open Sans', 'Roboto-Regular', Arial",
            delay: 400});
        $('#bikes').tooltip({text: '搭配"骑车"姿势使用效果最佳',fontSize: '14px',
            theme: 'light',
            fontFamily: "'Open Sans', 'Roboto-Regular', Arial",
            delay: 400});
        $('#ak47').tooltip({text: '搭配"射击"姿势使用效果最佳',fontSize: '14px',
            theme: 'light',
            fontFamily: "'Open Sans', 'Roboto-Regular', Arial",
            delay: 400});
        $('#operatetips').tooltip({text: '◎鼠标左键移动：旋转整个场景<br>◎鼠标右键移动：移动整个场景<br>' +
                '◎鼠标右键拖拽"独立道具"：移动道具',
            fontSize: '14px',
            textAlign:screenLeft,
            theme: 'light',
            fontFamily: "'Open Sans', 'Roboto-Regular', Arial",
            delay: 200});


        init();

    });


    $("#closecontrolshint2").click(function(){
        $(".controlshint2").hide();

    });

    window.onload=function(){
        setPostureStr(JSON.stringify(postureDance));
    }

</script>



</html>



